<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" text="text/css" href="/css/style.css">
</head>
<body>
    <div id="d1">
        <h1 class="a1">USER LOGIN FORM</h1>
        <form action="/submit" method="POST">
                <label for="fname">FIRST NAME</label>
                <input type="text" name="f1" id="fname" placeholder="ENTER YOUR FIRST NAME"><br><br>

                <label for="lname">LAST NAME</label>
                <input type="text" name="f2" id="lname" placeholder="ENTER YOUR LAST NAME"><br><br>
                <label for="email">EMAIL</label>
                <input type="email" name="f3" id="email" placeholder="ENTER YOUR EMAIL ID"><br><br>
                <label for="password">PASSWORD</label>
                <input type="password" name="f4" id="password" placeholder="ENTER YOUR PASSWORD"><br><br>
                <input type="submit">
                

                

                

        </form>
    </div>
</body>
</html>